/*------------------------------------------ DESKTOP -----------------------------------------*/

.linearGrandientRedToPink {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(76, 106, 190), #B3C0E6);
}

.linearGrandientBlueToButter {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to right,  #9fd8f5,  #f5ef9f );
}

.linearGrandientRedToBlackRed {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to top,  #D2797B, #E6B3B3, #B3CDE5);
}

.linearGrandientCoralViolet {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to right,  #FF6F61,  #6B5B95 );
}


.linearGrandientButter {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(255, 247, 153),  rgb(153, 240, 255) );
}

.linearGrandientBlue {
    width: 100%;
    height: 35em;
    top: 0px;
    padding: 8em;
    box-sizing: border-box;
    background: linear-gradient(to top, #DCE6B3, #7991D2);
}



/*------------------------------------------ @media queries  -----------------------------------------*/

@media screen and (min-width: 760px) and (max-width: 1024px) {

    .linearGrandientRedToBlackRed {
        width: 100%;
        height: 30em;
        top: 0px;
        padding: 5em;
        box-sizing: border-box;
        background: linear-gradient(to top,  #D2797B, #E6B3B3, #B3CDE5);
    }

    .linearGrandientBlueToButter {
        width: 100%;
        height: 30em;
        top: 0px;
        padding: 5em;
        box-sizing: border-box;
        background: linear-gradient(to right,  #9fd8f5,  #f5ef9f );
    }

    .linearGrandientCoralViolet {
        width: 100%;
        height: 30em;
        top: 0px;
        padding: 5em;
        box-sizing: border-box;
        background: linear-gradient(to right,  #FF6F61,  #6B5B95 );
    }

    .linearGrandientButter {
        width: 100%;
        height: 30em;
        top: 0px;
        padding: 5em;
        box-sizing: border-box;
        background: linear-gradient(to right, rgb(255, 247, 153),  rgb(153, 240, 255) );
    } 

    .linearGrandientBlue {
        width: 100%;
        height: 30em;
        top: 0px;
        padding: 5em;
        box-sizing: border-box;
        background: linear-gradient(to top, #DCE6B3, #7991D2);
    }
}

@media screen and (min-width: 320px) and (max-width: 760px) {

    .linearGrandientRedToBlackRed {
        width: 100%;
        height: 15em;
        top: 0px;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(to top,  #D2797B, #E6B3B3, #B3CDE5);
    }

    .linearGrandientBlueToButter {
        width: 100%;
        height: 15em;
        top: 0px;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(to right,  #9fd8f5,  #f5ef9f );
    }

    .linearGrandientCoralViolet {
        width: 100%;
        height: 15em;
        top: 0px;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(to right,  #FF6F61,  #6B5B95 );
    }

    .linearGrandientButter {
        width: 100%;
        height: 15em;
        top: 0px;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(to right, rgb(255, 247, 153),  rgb(153, 240, 255) );
    } 

    .linearGrandientBlue {
        width: 100%;
        height: 15em;
        top: 0px;
        padding: 3em;
        box-sizing: border-box;
        background: linear-gradient(to top, #DCE6B3, #7991D2);
    }
}