 /* DESKTOP
  ================================================================================================================================================
  ================================================================================================================================================*/
* {box-sizing: border-box; margin: 0px;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto", "Arial",sans-serif;
    font-size: 1em;
  }
  

  A.class1 {color: black;}
  A.class1:link  {text-decoration: none; color:  black;}
  A.class1:visited {text-decoration: none; color: black;}
  A.class1:hover {text-decoration: none; color: rgb(248, 156, 8);}
  A.class1:active {text-decoration: none; color: rgb(248, 156, 8);}
  
  
  A.class2 {color:  rgb(14, 151, 241);}
  A.class2:link  {text-decoration: none; color: rgb(14, 151, 241);}
  A.class2:visited {text-decoration: none; color:  rgb(14, 151, 241);}
  A.class2:hover {text-decoration: underline; color:  rgb(14, 151, 241);}
  A.class2:active {text-decoration: none; color:  rgb(14, 151, 241);}
  
  A.class3 {color: rgb(14, 151, 241);}
  A.class3:link  {text-decoration: none; color: rgb(14, 151, 241);}
  A.class3:visited {text-decoration: none; color: rgb(14, 151, 241);}
  A.class3:hover {text-decoration: underline; color: rgb(14, 151, 241);}
  A.class3:active {text-decoration: none; color: rgb(14, 151, 241);}

  A.class5 {color: black;}
  A.class5:link  {text-decoration: none; color:  black;}
  A.class5:visited {text-decoration: none; color: black;}
  A.class5:hover {text-decoration: none; color:  darkgreen;}
  A.class5:active {text-decoration: none; color: darkolivegreen;}
  
  
  .contenedorBody {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
  }
  

/*header
============================================================================*/

  .contenedorHeader {   
    width: 100%;
    min-height: 60px;
    position: fixed;
    top: 0px;
    background-color: whitesmoke; 
    box-shadow:0 0 30px rgba(14, 0, 0, 0.3);
    z-index: 1;
    }
  
  .logo a:hover, a:link, a:active, a:visited {
      text-decoration: none;
      color: rgb(248, 156, 8);}
  
  .logo {  
    float: left; 
    margin-left: 9%;  
    margin-top: 8px;  
    color: rgb(12, 12, 11);
    font-size: 2rem;
    font-weight: 300;   
  }
    
  nav {      
      margin-right: 7%;
      float: right;
      margin-top: 20px;
      box-sizing: border-box;
      width: 35%;
    } 
  
  
/*Article
============================================================================*/
.contenedorMain {
  width: 100%;
  margin-top: 60px;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.contenedorMainIllustration {position: relative;}

.responsiveImage {
  width: 100%;
  height: auto;
}
.contenedorArticle {
    width: 50%;    
    box-sizing: border-box;
    
    margin-top:  50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-size: 1.3rem;
    line-height: 1.58;
    font-weight: 300;
  }    

.titulosMain {
  text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 50px;
    color:  black;
    font-size: 4rem;    
    line-height: 1.2;
  }
 .author {
  color: rgb(167, 167, 167);
  font-size: 1rem;
  margin-top: 20px;
  
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.1;
  font-weight: 300;
  }
p {
  
  margin: 20px 20px 20px 0px;
  line-height: 1.5;
}
#resumen {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.4;
  margin: 40px 40px 40px 0px;
}
.bannerTwitero {
  width: 98%;
  padding: 2%;
  
  box-sizing: border-box;
  background-color: rgb(231, 241, 248);
  border-top: 2pt solid rgb(248, 156, 8)
  
}
.bonus {
  width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
  font-size: .8em;
  line-height: 1.3;
  text-align: center;
  border-left: 10pt solid rgb(14, 151, 241);
  background-color: rgba(0, 0, 0, 0.712);
  color: whitesmoke;
  border-radius: .7%;
  padding-left: 4%;
  padding-bottom: .1%;
}
figcaption {
  font-size: .9rem;
  color: darkgray;
  text-align: center;
  font-weight: 300;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 40px 40px 40px 0px;
}

blockquote {
  text-align: left;
  color:  rgb(14, 151, 241);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 40px 40px 40px 0px;
}

ol {  
  font-weight: 600;
  list-style: none;
  line-height: 2;
  margin: 40px auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.774);
  border-left: 3pt solid rgb(14, 151, 241);
  list-style-position: outside;
}
ol li:before {content: "►"; font-weight: 800;color: rgb(14, 151, 241); font-size: 2rem; padding: 20px; font-family: Helvetica, sans-serif; }

ul {
  line-height: 2;
  margin: 40px auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245, 0.774);
  border-left: 3pt solid rgb(248, 156, 8);
  list-style-position: outside;
}
.highlight {
background: rgb(169, 243, 206);
font-size: 1.6rem;
   align-items: flex-end;   
    line-height: .7;
    border-radius: 3px;
    display:inline-block;
}


.forma {line-height: 2;}

/*TABLA desktop
  ====================================================================================================*/

table {width: 100%}
tr:nth-child(even){background-color:rgb(235, 234, 236);}
tr:hover{background-color: rgb(223, 217, 228);}
th {padding: 1px; border: solid deeppink; font-weight: 100; font-family: "Raleway", sans-serif; font-size: 1.1rem; }
td {padding: 5px; text-align: center; font-weight: 100; font-family: "Raleway", sans-serif; font-size: 1.1rem; } 
th[scope="col"] {height: 3rem; color: white; background-color: deeppink;}
th[scope="row"] {color: black; background-color: chartreuse; }



 /*FOOTER desktop
  ====================================================================================================*/
  .contenedorFooter { 
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    clear: both;
    border-top: 0.4rem solid rgb(14, 151, 241);
    padding: 2rem;  
    justify-items: center;
    align-items: center;
  }

  .footerFont {
    font-size: 1.1rem; margin-top: 1rem; margin-bottom: 1rem;}
  
  .contenedorSubscribirse {max-width: 330px;  padding: .6rem;
    outline: 0.2rem solid rgb(14, 151, 241);}
  
  .redesFooter {  
    padding: 2.5%;
    margin-top: 1%;
    margin-right: 1%;
    border: .1rem solid  rgb(248, 156, 8);;
    color: rgb(14, 151, 241);  
  }
  
  .contenedorAdress { 
    width: 21rem;
    margin-left: .5%;
    margin-top: 1.5%;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    padding: .7rem;
  }

 

  /*pop-up
  =========================================================================*/
  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on left) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color:black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 0%;
  left: -20%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  display: none;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(149, 149, 149) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


  /* Sharing social
  ================================================================================================================================================*/
.bannerCompartirRedes {
  width: 100%;
  box-sizing: border-box;
  margin: 5px auto;
background-color: rgb(208, 230, 245);
border-bottom-left-radius: 7%;
border-top-left-radius: 7%;
}
.meGusta {
  float: left;
  
  position: sticky;
  top: 450px;
  margin-left: 20px;}


  /* MOBILE MEDIA queries
  =================================================================================================================*/
  
  @media (max-width:  980px){

    .meGusta {
    display: none;
    }

    
    .contenedorBody {
      box-sizing: border-box;
      width: 100%;
      margin: 0%;
      padding: 0%;         
    }
      
      
      .paragrafo {
        font-size: .50 rem;
        font-weight: 300;
        } 
  
.contenedorHeader {    
        width: 100%;
        position: fixed;
        top: 0px;        
        box-shadow:0 0 16px rgba(14, 0, 0, 0.3);
        }

   .logo {  
     width: 100%;
     min-height: 60px;
     box-sizing: border-box;
        margin: 0%;
        padding-top: 6px;
        text-align: center;
        color: rgb(12, 12, 11);
        font-size: 2.3rem;
        font-weight: 300;
        background-color: black;
        }             
nav {
  float: left;
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2;
  box-sizing: border-box;          
  background-color:whitesmoke;} 
      
      .slogan {display: none;}  
 
    
    .subtitulo-h2 {display: none;}
    
    .titulo-h3 {display: none;}
    
    .titulosMain {
      margin-bottom: 1.5rem;
      color:  rgb(14, 151, 241);
      font-size: 2rem;
      font-weight: 200;
    }


    /*Article
============================================================================*/
  

.contenedorMain {
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;
  margin-bottom: 3%;
}

.contenedorMainIllustration {  position: relative; top: -70px; margin-bottom: -100px;}


.contenedorArticle {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.58;
    font-weight: 300;
  }    

.titulosMain {
  text-align: center;
    font-family: Helvetica, sans-serif;
    color:  black;
    font-size: 2rem;    
    line-height: 1.2;
  }

#resumen {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.4;
  margin: 40px 40px 40px 0px;
}

.responsiveImage {
  width: 100%;
  height: auto;
  margin-top: 150px;
}

/*pop-up RESPONSIVE
  =========================================================================*/
  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on left) */
  .popup .popuptext {
    font-size: 1rem;
    visibility: hidden;
    width: 160px;
    background-color:black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 80%;
    bottom: 70%;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    display: none;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(149, 149, 149) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  


.bannerTwitero {
  width: 75%;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(235, 255, 248);
  border: 2pt solid rgba(22, 138, 149, 0.87);
  font-size: 1em;
  border-radius: 3px;
}
.bonus {
  width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
  font-size: .8em;
  line-height: 1.3;
  text-align: center;
  border-left: 7pt solid rgb(14, 151, 241);
  background-color: rgba(0, 0, 0, 0.712);
  color: whitesmoke;
  border-radius: .7%;
  padding-left: 4%;
  padding-bottom: .1%;
  

}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 40px 40px 40px 0px;
}

blockquote {
  text-align: left;
  color:  rgb(14, 151, 241);
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 40px 40px 40px 0px;
}

ol {
  list-style: none;
  line-height: 1.5;
  content: o;
  margin: 40px auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.774);
  border-left: 3pt solid rgb(14, 151, 241);
  list-style-position: outside;
}

ul {
  line-height: 1.4;
  margin: 40px auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245, 0.774);
  border-left: 0pt solid rgb(248, 156, 8);
  list-style-position: outside;
}

.forma {line-height: 2;}
.button {margin-top: 20px;}

  .bannerFlotante {
    float: right;
    width: 45%;
    box-sizing: border-box;
    margin: 70px auto;
  }

  /*FOOTER mobile MEDIA queries
  ====================================================================================================*/
.contenedorFooter {display: flex; flex-direction: column; padding: 2rem;
  clear: both;min-width: 300px; border-top: 0.4rem solid rgb(14, 151, 241);}
      
  .contenedorSubscribirse {max-width: 380px;float: left;
  padding: 1rem;outline: 0.2rem solid rgb(14, 151, 241);}
      
  .redesFooter {max-width: 180px;float: left;padding: 2.5%;
  border: .1rem solid  rgb(248, 156, 8);color: rgb(14, 151, 241);}
      
  .contenedorAdress {width: 100%;text-align: center;float: left;
  font-size: 1rem;font-weight: 400;font-style: normal;padding: 1rem;}
  
  
  
    

    
    }