html{
  color: #333;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-size: 16px;
}








.contenedorCentralInterno {
    width: 100%;
    }
.contenedorMain {
  width: 100%;
  
}
.JustifyCenter {
  justify-items: center;
}
.contenedorSectionArticles {
  width: 75%;
  
  }
  
.contenedorQueEsHexis {
  
  }
.bannerFlotante {
  float: right;  
  
}
.contenedorDePosts {
  
}


.tituloEncabezado {
  font-size: 4rem;
}

.tituloSubencabezado {
  font-size: 1.5rem;
}
.tituloSubSubencabezado {
  font-size: 1rem;
}

.tituloPost{
  font-size: 1.2rem;
}



 
  








.icon-bar {
    position: fixed;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    background-color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with background-color, if you want */
  .icon-bar a:hover {
    background-background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    background-color: white;
  }
  
  .twitter {
    background: #55ACEE;
    background-color: white;
  }
  
 
